*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

.container-adjust{
    width: 1080px;
    display: flex;
}

.navbar-scroll{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #5499F8;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 100;
}

.visible{
    display: flex;
}

.no-visible{
    display: none;
}

#titulo-logo{
    position: sticky;
    top: 0px;
    margin-left: auto;
    margin-right: 25%;
    z-index: 100;
}

.navbar{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #5499F8;
    display: flex;
    justify-content: center;
    position: sticky;
    z-index: 99;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-top: 20px;
}

header .btn-menu{
    width: 34px;
    height: 26px;
    filter: drop-shadow(4px 5px 0px #02187E);
    cursor: pointer;
}

header .barras{
    box-sizing: content-box;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #FFE901;
    border: 4px solid #2981FF;
    border-radius: 10px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

.active-linea1{
    transform: rotate(45deg) translate(-6px, 2px);
}

.active-linea2{
    opacity: 0;
    margin-left: -34px;
}

.active-linea3{
    transform: rotate(-45deg) translate(-4px, 4px);
}

.btn-comprar{
    height: 50px;
    width: 200px;
    background-color: #FFE901;
    box-shadow: 3px 3px 3px black;
    border: 5px;
    border-style: solid;
    border-color: #2982ff;
    border-radius: 111px;

    color: #02187E;

    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}

.btn-comprar:hover{
    transform: scale(1.1);
    background-color: #ffea01b6;
}

.background-1{
    width: 100%;
    height: 720px;
    z-index: 0;
    background-size: cover;

    background-image: url('../img/Untitled-1\ 1.png');
    position: relative;
}

.container-content,.title-img,.content,img{
    margin: auto;
}

@keyframes desplazamiento{
    from{
        opacity: 0;
        transform: translateY(0px);
    }
    to{
        opacity: 1;
        transform: translateY(110px);
    }
}

#logo-central{
    position: relative;
    z-index: 1;
    opacity:0;
    animation: desplazamiento 2s ease-out forwards;
}

.edificio-3{
    z-index: 1;
    width: 37%;
    height: 720px;
    position: absolute;
    bottom: -50px;
    left: -65px;
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-image: url('../img/Untitled-1\ 3.png');
}
.edificio-5{
    z-index: 1;
    width: 700px;
    height: 465px;
    position: absolute;
    bottom: -280px;
    left: 460px;
    /*transform: translateX(-40%);*/
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-image: url('../img/Untitled-1\ 5.png');
}
.edificio-4{
    z-index: 1;
    width: 33%;
    height: 727px;
    position: absolute;
    bottom: -35px;
    right: -120px;
    /*background-position-y: 7px;
    background-position-x: 10px;*/
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-image: url('../img/Untitled-1\ 4.png');
}
.personajes{
    display: flex;
    margin: auto;
    align-items: center;
    position: relative;
    justify-content: space-between;
    z-index: 2;
}
.personaje-default,
.personaje-negro,
.personaje-rosa{
    position: relative;
}

.telaraña-1{
    width: 1000px;
    height: 400px;
    z-index: 2;
    top: 300px;
    left: -820px;
    position: absolute;
    background-size: cover;
    background-position-x: 0px;
    background-position-y: -430px;
    background-image: url('../img/personajes/Untitled-5\ 1.png');
    background-repeat: no-repeat;
}

.telaraña-2{
    width: 446px;
    height: 389px;
    top: 48px;
    right: -280px;
    z-index: 2;
    position: relative;
    background-size:cover;
    /*background-position-x: 285px;*/
    background-image: url('../img/personajes/Untitled-5\ 3.png');
    background-repeat: no-repeat;
}
.personaje-negro{
    bottom: 100px;
    background-size: cover;
    width: 34%;
    height: 393px;
    background-image: url('../img/personajes/image\ 1.png');
    background-repeat: no-repeat;
    position: relative;
}
.personaje-default{
    bottom: 0;
    width: 33%;
    height: 465px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/personajes/image\ 2.png');
    position: relative;
}
.personaje-rosa{
    height: 444px;
    width: 33%;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/personajes/image\ 3.png');
}

.background-presentacion{
    /*width: 1263px;*/
    width: 100%;
    height: 845px;
    margin-top: -35px;
    z-index: 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/Rectangle\ 8.png');
}
.container-presentacion{
    align-items: center;
    align-self: center;
    margin: auto;
    justify-content: left;
}
.presentacion{
    width: 60%;
    padding-top: 200px;
    align-items: center;
}
.titulo-presentacion,.texto-presentacion{
    color: white;
}

.titulo-presentacion{
    font-family: Lato;
    font-size: 60px;
    padding-bottom: 20px;
}

.texto-presentacion{
    font-size: 20px;
    font-weight: 300px;
    font-family: Lato;
}

.img-escenario-1{
    background-image: url('../img/screens/image\ 16.png');
    width: 790px;
    height: 465px;
}

.img-duende{
    width: 777px;
    height: 921px;
    z-index: 3;
    right: 0;
    background-position-x: 110%;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url('../img/Untitled-3\ 1.png');
}

.cards{
    padding-top: 210px;
    margin: auto;
    justify-content: space-around;
}

.card{
    width: 33%;
}

.card img{
    margin: 10px;
}

.text-card{
    margin: 0px 25px;
    justify-self: start;
    text-align: start;
    font-family: Lato;
}

.container-game{
    width: 1263px;
    height: 566px;
    margin-top: 190px;
    background-size: cover;
    position: relative;
    z-index: 3;
    background-repeat: no-repeat;
    background-image: url('../img/image\ 223.png');
}

.card-ingame{
    position: absolute;
    z-index: 3;
    background-repeat: no-repeat;
    background-size: cover;
}

.gamecard-1{
    margin-left: 2%;
    margin-top: -810px;
    width: 632px;
    height: 535px;
    transform: rotate(-5deg);
    background-image: url('../img/screens/test\ \(3\).png');
}

.gamecard-1:hover{
    animation: movimientoHover 3s ease-out forwards;
    position: relative;
    z-index: 5;
}

@keyframes movimientoHover{
    0%{
        
        transform: rotate(-5deg) scale(1);
    }
    100%{
        transform: rotate(0deg) scale(1.10);
    }
}

.gamecard-2{
    width: 632px;
    height: 535px;
    margin-top: -600px;
    margin-left: 3%;
    transform: rotate(-4deg);
    background-image: url('../img/screens/test\ \(1\).png');
}

.gamecard-3{
    width: 632px;
    height: 535px;
    margin-top: -420px;
    margin-left: 5%;
    background-image: url('../img/screens/test.png');
}
.background-solido{
    z-index: 2;
    position: relative;
    margin-top: -120px;
    width: 100%;
    background-color: black;
}
.container-vengadores{
    align-items: center;
    align-self: center;
    margin: auto;
    justify-content: left;
}

.container-vengadores h2{ 
    margin-top: 4em;
    font-size: 60px;
    font-family: Lato;
    color: white;
    width: 55%;
    margin-bottom: 1em;
}

.capas{
    width: 1078px;
    height: 528px;
    align-items: center;
    align-self: center;
    margin: auto;
    position: relative;
    z-index: 3;
    justify-content: center;
    background-repeat: no-repeat;
}

.parallax{
    position: relative;
    z-index: 3;
    background-image: url('../img/image\ 222\ 2.png');

}

.parallax-2{
    position: absolute;
    z-index: 4;
    top: -20px;
    background-size: cover;
    background-image: url('../img/image\ 22\ 9.png');
    box-shadow: 25px 25px 30px rgba(0, 0, 0, 0.3);
}

.parallax-3{    
    position: absolute;
    top: 0px;
    z-index: 3;
    background-image: url('../img/image\ 22\ 7.png');
}

.parallax-4{
    width: 464px;
    height: 488px;
    position: absolute;
    z-index: 3;
    right: -90px;
    bottom: -65px;
    background-position-x: -10px;
    background-image: url('../img/personajes/Untitled-2\ 2.png');
}

.parallax-5{
    width: 441px;
    height: 566px;    
    transform: rotate(10deg) scaleX(-1);
    top: -280px;
    right: 150px;
    position: absolute;
    z-index: 2;
    background-image: url('../img//personajes/panther.png');
}

.parallax-6{
    width: 569px;
    height: 675px;
    left: 0;
    top: -90px;
    position: absolute;
    z-index: 9;
    background-image: url('../img/personajes/image\ 22\ 8\ \(1\).png');
}

.background-2{
    width: 1263px;
    height: 2195px;
    z-index: 2;
    position: relative;
    top: -165px;
    background-image: url('../img//Rectangle\ 9.png');
}

.background-2 .subtitulo{
    padding-top: 20%;
    font-family: Lato;
    font-size: 60px;
    margin: auto;
}

.background-2 .seccion{
    margin: auto;
    margin-top: 3em;
    margin-bottom: 70px;
    display: flex;
    position: relative;
}

.background-2 .contenido-seccion{
    margin-left: 60px;
    flex: 1 1 50%;
}

.background-2 h4{    
    font-family: Lato;
    font-size: 36px;
}

.background-2 .texto-seccion{
    margin-top: 20px;
    font-family: Lato;
    font-size: 18px;
}

.background-2 .seccion img{
    display: block;
    max-width: 100%;
    margin-bottom: 0.5em;
}

.container-comprar{
    margin: auto;
    margin-top: -180px;
    flex-direction: column;
}

.container-comprar h5{
    font-family: Lato;
    font-size: 40px;
    font-weight: 400;
    width: 52%;
    color: white;
}

.container-comprar .btn-comprar{
    margin: 40px;
    margin-left: 0px;
    width: 250px;
}

.container-personajes{
    width: 1280px;
    height: 700px;
    align-items: center;
    position: relative;
    justify-content: space-around;
    background-image: url('../img/Rectangle\ 10.png');
}

.personajes-hover{
    display: flex;
    margin: auto;
}

#personaje-rosa,#persona-default,#persona-negro{
    margin:auto;
}

.pre-footer{
    width: 1263px;
    height: 1296px;
    margin-top: -10px;
    background-size: cover;
    position: relative;
    z-index: 3;
    background-image: url('../img/Rectangle\ 11.png');
}

.pre-footer h6{
    font-family: Lato;
    font-size: 60px;
    width: 60%;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 35px; 
    align-items: center;
    text-align: center;
}

.subscribirse{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    width: fit-content;
    margin: auto;
    border-color: #2982ff;
    border-width: 5px;
    border-radius: 200px;
}

.pre-footer .text-input{
    width: 500px;
    height: 75px;
    border-top-left-radius: 200px; /* Radio de la esquina superior izquierda */
    border-bottom-left-radius: 200px; /* Radio de la esquina inferior izquierda */
    border-top-right-radius: 0; /* Sin radio en la esquina superior derecha */
    border-bottom-right-radius: 0; /* Sin radio en la esquina inferior derecha */
    border-right: none; /* Borde derecho para la forma cortada */
    border-style: none;
    
}

.pre-footer .text-input::placeholder{
    padding-left: 20px;
    letter-spacing: 2px;
    font-size: 15px;
    font-family: Lato;
}

.pre-footer .btn-subscribirse{
    width: 150px;
    height: 75px;
    background-color: #FFE901;
    border-top-left-radius: 0px; /* Radio de la esquina superior izquierda */
    border-bottom-left-radius: 0px; /* Radio de la esquina inferior izquierda */
    border-top-right-radius: 200px; /* Sin radio en la esquina superior derecha */
    border-bottom-right-radius: 200px; /* Sin radio en la esquina inferior derecha */
    border-style: solid;
    border-width: 5px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-color: #2982ff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 500px;
    font-weight: bold;
}

.container-condicion{
    width: 50%;
    margin: auto;
    margin-top: 35px;
}

.pre-footer .text-subscribirse{
    font-family: Lato;
}

#subrayado{
    text-decoration: underline;
}

.fondo-pre-footer{
    width: 1263px;
    height: 720px;
    position: absolute;
    z-index: 2;
    border-style: none;
    background-image: url('../img/Footerimage.png');
}

.fondo-pre-footer .logo{
    width: 231px;
    height: 145px;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-image: url('../img/image\ 224.png');
}

.sponsors{
    width: auto;
    height: 80px;
    background-color: #242424;
    display: flex;
}

.sponsors img{
    justify-content: center;
    margin: auto;
}

.container-privacidad{
    width: auto;
    height: 598px;
    background-color: #5E5E5D;
}

.container-privacidad .privacidad{
    color: white;
    font-family: Lato;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.privacidad p{
    width: 80%;
    font-size: 20px;
}

.privacidad #cookie-text{
    margin-top: 20px;
}

#redes{
    width: 212px;
    height: 41px;
    margin-top: 50px;
}