*{
    padding: 0px;
    margin: 0px;
}

.background-1{
    width: 100%;
    height: 100%;
    z-index: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./img/Untitled-1\ 1.png');
}
.container-adjust{
    width: 1080px;
    padding-top: 20px;
    display: flex;
}
.navbar{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .btn{
    border-style: none;
    background-color: inherit;
}

header .btn-comprar{
    height: 50px;
    width: 200px;
    background-color: #FFE901;
    box-shadow: 3px 3px 3px black;
    border: 5px;
    border-style: solid;
    border-color: #2982ff;
    border-radius: 111px;

    color: #02187E;

    font-family: Lato;
    font-size: 20px;
    font-weight: bold;

    transition: transform 0.5s ease-in-out;
}

header .btn-comprar:hover{
    transform: scale(1.1);
    background-color: #ffea01b6;
}

.content{
    margin: auto;
    justify-content: center;
}
.edificio-3{
    z-index: 1;
    width: 466px;
    height: 734px;
    position: absolute;
    bottom: -305px;
    left: -60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./img/Untitled-1\ 3.png');
}
.edificio-5{
    z-index: 1;
    width: 558px;
    height: 228px;
    position: absolute;
    bottom: -290px;
    left: 50%;
    transform: translateX(-40%);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./img/Untitled-1\ 5.png');
}
.edificio-4{
    z-index: 1;
    width: 388px;
    height: 742px;
    position: absolute;
    bottom: -290px;
    right: 0;
    background-position-y: 7px;
    background-position-x: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./img/Untitled-1\ 4.png');
}
.personajes{
    display: flex;
    margin: auto;
    align-items: center;
    position: relative;
    justify-content: space-between;
    z-index: 2;
}
.personaje-default,
                    .personaje-negro,
                                    .personaje-rosa{
                                        position: relative;
                                    }
.telaraña-1{
    width: 758px;
    height: 671px;
    z-index: 2;
    bottom: -83%;

    position: absolute;
    background-size: cover;
    background-position-x: -165px;
    background-image: url('./img/personajes/Untitled-5\ 1.png');
    background-repeat: no-repeat;
}

.telaraña-2{
    width: 446px;
    height: 389px;
    bottom: -35%;
    right: 0;
    z-index: 2;
    position: absolute;
    background-size:cover;
    background-position-x: 285px;
    background-image: url('./img/personajes/Untitled-5\ 3.png');
    background-repeat: no-repeat;
}
.personaje-negro{
    bottom: 100px;
    background-size: cover;
    width: 34%;
    height: 393px;
    background-image: url('./img/personajes/image\ 1.png');
    background-repeat: no-repeat;
}
.personaje-default{
    bottom: 0;
    width: 33%;
    height: 465px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./img/personajes/image\ 2.png');
}
.personaje-rosa{
    height: 444px;
    width: 33%;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./img/personajes/image\ 3.png');
}
.background-presentacion{
    width: 1263px;
    height: 845px;
    margin-top: -100px;
    z-index: 1;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./img/Rectangle\ 8.png');
}
.container-presentacion{
    align-items: center;
    align-self: center;
    margin: auto;
    justify-content: left;
}
.presentacion{
    width: 60%;
    padding-top: 200px;
    align-items: center;
}
.titulo-presentacion,.texto-presentacion{
    color: white;
}

.titulo-presentacion{
    font-family: Lato;
    font-size: 60px;
    padding-bottom: 20px;
}

.texto-presentacion{
    font-size: 20px;
    font-weight: 300px;
    font-family: Lato;
}

.img-escenario-1{
    background-image: url('./img/screens/image\ 16.png');
    width: 790px;
    height: 465px;
}

.img-duende{
    width: 777px;
    height: 921px;
    z-index: 3;
    right: 0;
    background-position-x: 110%;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url('./img/Untitled-3\ 1.png');
}

.cards{
    padding-top: 210px;
    margin: auto;
    justify-content: space-around;
}

.card{
    width: 33%;
}

.card img{
    margin: 10px;
}

.text-card{
    margin: 0px 25px;
    justify-self: start;
    text-align: start;
    font-family: Lato;
}

.container-game{
    width: 1263px;
    height: 566px;
    margin-top: 190px;
    background-size: cover;
    position: relative;
    z-index: 3;
    background-repeat: no-repeat;
    background-image: url('./img/image\ 223.png');
}

.card-ingame{
    position: absolute;
    z-index: 3;
    background-repeat: no-repeat;
    background-size: cover;
}

.gamecard-1{
    margin-left: 2%;
    margin-top: -810px;
    width: 632px;
    height: 535px;
    transform: rotate(-5deg);
    background-image: url('./img/screens/test\ \(3\).png');
}

.gamecard-2{
    width: 632px;
    height: 535px;
    margin-top: -600px;
    margin-left: 3%;
    transform: rotate(-4deg);
    background-image: url('./img/screens/test\ \(1\).png');
}

.gamecard-3{
    width: 632px;
    height: 535px;
    margin-top: -420px;
    margin-left: 5%;
    background-image: url('./img/screens/test.png');
}
.background-solido{
    z-index: 3;
    position: relative;
    margin-top: -120px;
    width: 100%;
    background-color: black;
}
.container-vengadores{
    align-items: center;
    align-self: center;
    margin: auto;
    justify-content: left;
}

.container-vengadores h2{ 
    margin-top: 4em;
    font-size: 60px;
    font-family: Lato;
    color: white;
    width: 55%;
    margin-bottom: 1em;
}

.capas{
    width: 1078px;
    height: 528px;
    align-items: center;
    align-self: center;
    margin: auto;
    position: relative;
    z-index: 3;
    justify-content: center;
    background-repeat: no-repeat;
}

.parallax{
    position: relative;
    z-index: 3;
    background-image: url('./img/image\ 222\ 2.png');

}

.parallax-2{
    position: absolute;
    z-index: 4;
    top: -20px;
    background-size: cover;
    background-image: url('./img/image\ 22\ 9.png');
    box-shadow: 25px 25px 30px rgba(0, 0, 0, 0.3);
}

.parallax-3{    
    position: absolute;
    top: 0px;
    z-index: 3;
    background-image: url('./img/image\ 22\ 7.png');
}

.parallax-4{
    width: 464px;
    height: 488px;
    position: absolute;
    z-index: 3;
    right: -90px;
    bottom: -65px;
    background-position-x: -10px;
    background-image: url('./img/personajes/Untitled-2\ 2.png');
}

.parallax-5{
    width: 441px;
    height: 566px;    
    transform: rotate(10deg) scaleX(-1);
    top: -280px;
    right: 150px;
    position: absolute;
    z-index: 2;
    background-image: url('./img//personajes/panther.png');
}

.parallax-6{
    width: 569px;
    height: 675px;
    left: 0;
    top: -90px;
    position: absolute;
    z-index: 9;
    background-image: url('./img/personajes/image\ 22\ 8\ \(1\).png');
}

.background-2{
    width: 1263px;
    height: 2195px;
    z-index: 2;
    position: relative;
    top: -165px;
    background-image: url('./img//Rectangle\ 9.png');
}

.background-2 .subtitulo{
    padding-top: 20%;
    font-family: Lato;
    font-size: 60px;
    margin: auto;
}

.background-2 .seccion{
    margin: auto;
    margin-top: 35px;
    margin-bottom: 70px;
    display: flex;
}

.background-2 .contenido-seccion{
    margin-left: 60px;
}

.background-2 h4{    
    font-family: Lato;
    font-size: 36px;
}

.background-2 .texto-seccion{
    margin-top: 20px;
    font-family: Lato;
    font-size: 18px;

}